<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="app-container">
        <header class="navbar">
            <div class="logo"><a href="{{ url_for('index') }}">SyncMe</a></div>
            <nav class="menu">
                <a href="{{ url_for('index') }}">About SyncMe</a>
                {% if session.get('user_id') %}
                    <a href="{{ url_for('profile') }}">Profile</a>
                    <a href="{{ url_for('logout') }}">Log Out</a>
                {% else %}
                    <a href="{{ url_for('entrance') }}">Sign In</a>
                    <a href="{{ url_for('register') }}">Sign Up</a>
                {% endif %}
                <a href="{{ url_for('users') }}">Chat</a>
            </nav>
        </header>
        <main>
            {% block content %}{% endblock %}
        </main>
    </div>
</body>
</html>
