{% extends "base.html" %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Центрирование текста с границей</title>
    <style>
        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50vh; /* Высота контейнера */
            background-color: none; /* Цвет фона */
        }
        .welcome-page {
            background-color: rgba(0, 0, 0, 0.2); /* Полупрозрачный фон */
            border-radius: 10px; /* Сглаженные углы */
            padding: 20px;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="welcome-page">
            <h1>Welcome to SyncMe</h1>
            <p>About SyncMe</p>
            <p>A web dating app that shows compatibility based on interests and likes in social networks</p>
            <p><strong>Developers: Стаселько Илья, Басалыга Тимофей</strong></p>
            <p><strong>Designers: Косаревская Елизавета, Зарубайко Яна</strong></p>
        </div>
    </div>
</body>
{% endblock %}
