{% extends "base.html" %}

{% block content %}
<div class="form-container">
    <h2>Registration</h2>
    <form method="POST">
        <input type="text" name="username" placeholder="Your name" required>
        <input type="email" name="email" placeholder="Your email" required>
        <input type="text" name="instagram" placeholder="Your Instagram" required>

        <!-- Поле для ввода даты рождения -->
        <input type="date" name="birth_date" placeholder="Your birth date" required>

        <!-- Поле для выбора пола -->
        <select name="gender" required>
            <option value="" disabled selected>Select your gender</option>
            <option value="Мужской">Male</option>
            <option value="Женский">Female</option>
        </select>

        <button type="submit">Sign Up</button>
    </form>
</div>
{% endblock %}
